pkgbase = easy-call-ai
	pkgdesc = Desktop AI assistant with global hotkey (Tauri + Vue)
	pkgver = 0.2.11
	pkgrel = 1
	url = https://github.com/kawayiYokami/P-ai
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = nodejs
	makedepends = pnpm
	makedepends = rust
	makedepends = cargo
	makedepends = clang
	makedepends = pkgconf
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = libayatana-appindicator
	depends = librsvg
	provides = easy-call-ai
	conflicts = easy-call-ai-bin
	source = easy-call-ai::git+https://github.com/kawayiYokami/P-ai.git#tag=v0.2.11
	b2sums = SKIP

pkgname = easy-call-ai

