[Desktop Entry]
Type=Application
Name=P-ai
Comment=Desktop AI assistant
Exec=easy-call-ai
Icon=easy-call-ai
Terminal=false
Categories=Utility;Office;
StartupNotify=true
